{erl_opts, [no_debug_info]}.
{deps, []}.

{shell, [
  {config, "config/sys.config"},
    {apps, [rebar_app]}
]}.
{eunit_first_files, ["test/pollution_test.erl", "test/pollution_server_test.erl", "test/pollution_gen_server_test.erl"]}.
{alias, [{test, [{eunit, "rebar3 eunit --module=pollution_test,pollution_server_test,pollution_gen_server_test"}]}]}.

